[package]
name = "esp32c3-test"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

cfg-if = "1.0.0"
# embassy-time = { version = "0.1.0", features = ["nightly"], optional = true }
# embedded-hal = { version = "0.2.7", features = ["unproven"] }
# embedded-hal-1 = { version = "=1.0.0-alpha.9", optional = true, package = "embedded-hal" }
# embedded-hal-async = { version = "0.2.0-alpha.0", optional = true }
# embedded-hal-nb = { version = "=1.0.0-alpha.1", optional = true }
# embedded-can = { version = "0.4.1", optional = true }
esp-hal-common = { version = "0.7.0", features = ["esp32c3"] }
r0 = "1.0.0"
esp32c3 = "0.11.0"
esp32c3-hal = "0.7.0"

# [dev-dependencies]
# aes = "0.8.2"
# critical-section = "1.1.1"
# embassy-executor = { package = "embassy-executor", git = "https://github.com/embassy-rs/embassy/", rev = "cd9a65b", features = [
#     "nightly",
#     "integrated-timers",
# ] }
# embedded-graphics = "0.7.1"
esp-backtrace = { version = "0.5.0", features = [
    "esp32c3",
    "panic-handler",
    "exception-handler",
    "print-uart",
] }
esp-println = { version = "0.3.1", features = ["esp32c3"] }
# sha2 = { version = "0.10.6", default-features = false }
# smart-leds = "0.3.0"
# ssd1306 = "0.7.1"
# static_cell = "1.0.0"

[features]
default = ["rt", "vectored"]
mcu-boot = []
direct-boot = []
# eh1 = [
#     "esp-hal-common/eh1",
#     "dep:embedded-hal-1",
#     "dep:embedded-hal-nb",
#     "dep:embedded-can",
# ]
rt = []
# smartled = ["esp-hal-common/smartled"]
# ufmt = ["esp-hal-common/ufmt"]
vectored = ["esp-hal-common/vectored"]
# allow-opt-level-z = []
# async = ["esp-hal-common/async", "embedded-hal-async"]
# embassy = ["esp-hal-common/embassy"]
# embassy-time-systick = [
#     "esp-hal-common/embassy-time-systick",
#     "embassy-time/tick-hz-16_000_000",
# ]
# embassy-time-timg0 = [
#     "esp-hal-common/embassy-time-timg0",
#     "embassy-time/tick-hz-1_000_000",
# ]

# [[example]]
# name = "hello_rgb"
# required-features = ["smartled"]

# [[example]]
# name = "spi_eh1_loopback"
# required-features = ["eh1"]

# [[example]]
# name = "spi_eh1_device_loopback"
# required-features = ["eh1"]

# [[example]]
# name = "embassy_hello_world"
# required-features = ["embassy"]

# [[example]]
# name = "embassy_wait"
# required-features = ["embassy", "async"]

# [profile.dev]
# opt-level = 1

# [[example]]
# name = "embassy_spi"
# required-features = ["embassy", "async"]
